// Add your own CSS here!

:root {
  --light: #080808 !important;
  --dark: #fbfffe !important;
  --secondary: #8eb3cb !important;
  --visited: #5b676d !important;
  --tertiary: #6f8a83 !important;
  --primary: #6b879a !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --custom-filter: blur(5px);
  --custom-image-filter: bright-dark 1s ease;
}

/*
--light: #0b0b0c !important;
  --dark: #fbfffe !important;
  --secondary: #91855d !important;
  --visited: #5b676d !important;
  --tertiary: #665b37 !important;
  --primary: #8c8469 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --custom-filter: invert(100%) blur(5px);
  --custom-image-filter: bright-dark 1s ease;
*/

#index {
  & > .bio {
    display: flex;
    gap: 1.5em;
    z-index: 1;
    position: relative;

    @media screen and (max-width: 1440px) {
      flex-direction: column-reverse !important;
      gap: 4em;
    }

    & > .writing-sidebar {
      flex: 0 0 30%;

      & > div {
        margin-bottom: 2em;
      }

      & ul {
        list-style: none;
        padding: 0;
        margin-left: 0;
        z-index: 0;
      }

      & > div > a {
        opacity: 0.6;
      }

      & h2 {
        font-size: 1.4rem;
        margin: 0.75em 0;
      }

      & li {
        margin-bottom: 0.8em;
      }

      & h3 {
        margin: 0;
      }

      & .meta {
        margin: 0.2em 0;
      }

      & .tags > li > a {
        font-size: 0.9em;
        font-weight: 600;
      }
    }
  }
}

.main-img {
  position: absolute;
  z-index: -9;
  width: 50vw;
  height: 50vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

.poem {
  font-family: var(--font-body);
  font-size: 1.1rem;
  padding: 0;
  color: var(--gray);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.return-only {
  display: none;
}

.delay {
  animation: fadeIn ease 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;

  &.t-1 {
    animation-delay: 0.2s;
  }

  &.t-2 {
    animation-delay: 0.8s;
  }

  &.t-3 {
    animation-delay: 1.2s;
  }

  &.t-4 {
    animation-delay: 1.5s;
  }

  &.t-5 {
    animation-delay: 2s;
  }

  @for $j from 1 through 5 {
    @for $i from 1 through 10 {
      &.stagger:nth-last-of-type(#{$j}) > *:nth-child(#{$i}) {
        animation: fadeIn ease 0.5s;
        opacity: 0;
        animation-fill-mode: forwards;
        animation-delay: #{$i * 0.08 + 0.2}s;
        z-index: #{-$i + 10 * ($j + 1)};
        position: relative;
      }
    }
  }
}

.flexible {
  display: flex;
  gap: 50px;
}

.only-mobile {
  display: none;
}

@media (max-width: 800px) {
  .flexible {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 1000px) {
  .x-mobile {
    display: none;
  }
  .only-mobile {
    display: grid;
  }
}

.onload-img {
  animation: var(--custom-image-filter)
}

@keyframes bright-dark {
  0% {
    opacity: 0;
    filter: brightness(1) blur(20px) invert(0%);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px) invert(50%);
  }
  100% {
    opacity: 1;
    filter: brightness(1) blur(5px) invert(100%);
  }
}

@keyframes bright-light {
  0% {
    opacity: 0;
    filter: brightness(1) blur(20px) invert(100%);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px) invert(50%);
  }
  100% {
    opacity: 1;
    filter: brightness(1) blur(7px) invert(0%);
  }
}
