<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}

  <body>
    {{partial "search.html" .}}
    <div class="singlePage" style="z-index: 99; filter: (--custom-filter);">
      <!-- Begin actual content -->
      <div style="position: fixed; top: 0; right: 1em">{{partial "headerIndex.html" .}}</div>
      <div>
        <h1 class="big-header">
          Rajan Agarwal is a software developer crafting, designing & engineering high-scale
          platforms.
        </h1>
      </div>
      <div class="delay stagger flexible">
        <article style="font-size: 1.1em">
          <br />
          {{partial "textprocessing.html" . }}
        </article>
        <div style="flex-basis: 80%">{{partial "latest.html" .}}</div>
      </div>
      {{partial "recent.html" .}}

      <br />
      {{partial "footerIndex.html" .}}
      <del> {{partial "contact.html" .}} </del>
    </div>
  </body>
</html>
